/* imports */
h1 {
  color: #15253D;
  padding: 24px; }

h2 {
  color: #15253D;
  padding: 24px; }

h4 {
  color: #15253D;
  padding: 24px; }

p {
  color: #15253D;
  padding: auto; }

footer {
  padding-left: 20%;
  padding-top: 25%; }

.redesSociales {
  padding: 30px 10px 10px 10px;
  text-align: center; }
